apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name:  myapp-argo-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/yarinnetzer/project.git
    targetRevision: main
    path: overlays

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    
    automated:
      selfHeal: true
      prune: true
